/**
 * LIGHT THEME
 */
$light-theme: (
  gray1: hsl(196, 25%, 12%),
  gray2: hsl(198, 17%, 28%),
  gray3: hsl(200, 5%, 46%),
  gray4: hsl(198, 7%, 64%),
  gray5: hsl(202, 13%, 83%),
  gray6: hsl(206, 17%, 92%),
  gray7: hsl(220, 18%, 97%),
  gray8: hsl(0, 0%, 100%),
);

/**
 * DARK THEME
 */
$dark-theme: (
  gray1: hsl(0, 0%, 100%),
  gray2: hsl(220, 18%, 97%),
  gray3: hsl(206, 17%, 92%),
  gray4: hsl(202, 13%, 83%),
  gray5: hsl(198, 7%, 64%),
  gray6: hsl(200, 5%, 46%),
  gray7: hsl(198, 17%, 28%),
  gray8: hsl(196, 25%, 12%),
);

/**
 * THEME
 */
$theme: (
  brand-darker: hsl(190, 90%, 25%),
  brand-dark: hsl(190, 70%, 35%),
  brand: hsl(190, 65%, 45%),
  brand-light: hsl(190, 65%, 65%),
  brand-lighter: hsl(190, 60%, 85%),
  brand-a20: hsla(190, 65%, 45%, 0.2),
  warning-darker: hsl(39, 100%, 35%),
  warning-dark: hsl(41, 100%, 45%),
  warning: hsl(41, 100%, 60%),
  warning-light: hsl(41, 100%, 75%),
  warning-lighter: hsl(41, 100%, 90%),
  warning-a20: hsla(41, 100%, 60%, 0.2),
  success-darker: hsl(94, 80%, 30%),
  success-dark: hsl(94, 67%, 41%),
  success: hsl(94, 52%, 50%),
  success-light: hsl(94, 66%, 70%),
  success-lighter: hsl(94, 70%, 90%),
  success-a20: hsla(94, 52%, 52%, 0.2),
  danger-darker: hsl(6, 100%, 30%),
  danger-dark: hsl(6, 100%, 45%),
  danger: hsl(6, 100%, 60%),
  danger-light: hsl(6, 100%, 75%),
  danger-lighter: hsl(6, 100%, 90%),
  danger-a20: hsla(6, 100%, 60%, 0.2),
);

:root,
[data-theme='light'] {
  @each $name, $color in $light-theme {
    --color-#{$name}: #{$color};
  }

  --color-shadow: 22, 34, 38; // Only values rgb color
}

[data-theme='dark'] {
  @each $name, $color in $dark-theme {
    --color-#{$name}: #{$color};
  }

  --color-shadow: 0, 0, 0; // Only values rgb color
}

:root {
  @each $name, $color in $theme {
    --color-#{$name}: #{$color};
  }

  --color-default-darker: var(--color-gray2);
  --color-default-dark: var(--color-gray3);
  --color-default: var(--color-gray4);
  --color-default-light: var(--color-gray5);
  --color-default-lighter: var(--color-gray6);
  --color-default-a20: var(--color-gray6);

  /* Semantic color */
  --color-content: var(--color-gray2);
  --color-heading: var(--color-gray1);
  --color-background: var(--color-gray8);
  --color-link: var(--color-brand);
  --color-link-hover: var(--color-brand-darker);
  --color-border: var(--color-gray6);
}

@each $name, $color in $dark-theme {
  .color-#{$name} {
    color: var(--color-#{$name}) !important;
  }
  .background-#{$name} {
    background-color: var(--color-#{$name}) !important;
  }
}

@each $name, $color in $theme {
  .color-#{$name} {
    color: var(--color-#{$name}) !important;
  }
  .background-#{$name} {
    background-color: var(--color-#{$name}) !important;
  }
}
