/**
 * LINK
 */

a img {
  border: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color $duration-animation-base, background-color $duration-animation-base;

  @include hover {
    color: var(--color-link-hover);
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: var(--color-link-hover);
    text-decoration: none;
  }

  a[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
