/**
 * TABLE
 */

table {
  width: 100%;
  margin-bottom: $space;
  border-spacing: 0;
  border-collapse: collapse;
}

thead {
  text-align: left;
}

td,
th {
  padding: quarter($space);
}

th {
  font-family: $heading-font-family;
  font-style: normal;
  font-weight: $heading-font-normal;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}
