h1 {
  margin: 0;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  margin: 0;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  margin: 0;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4 {
  margin: 0;
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

h5 {
  margin: 0;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

h6 {
  margin: 0;
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
}

.small1 {
  margin: 0;
  font-size: var(--font-size-small1);
  line-height: var(--line-height-small1);
}
.small2 {
  margin: 0;
  font-size: var(--font-size-small2);
  line-height: var(--line-height-small2);
}
.small3 {
  margin: 0;
  font-size: var(--font-size-small3);
  line-height: var(--line-height-small3);
}
