/**
 * TYPE
 */
$type-transparent-color: rgba(0, 0, 0, 0);

// Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-style: normal;
  font-weight: $heading-font-normal;
  color: var(--color-heading);
}

// Heading level 1.
h1,
.alpha {
  @include fontsize(alpha);
}

// Heading level 2.
h2,
.beta {
  @include fontsize(beta);
}

// Heading level 3.
h3,
.gamma {
  @include fontsize(gamma);
}

// Heading level 4.
h4,
.delta {
  @include fontsize(delta);
}

// Heading level 5.
h5,
.epsilon {
  @include fontsize(epsilon);
}

// Heading level 6.
h6,
.zeta {
  @include fontsize(zeta);
}

// Parrafos
p {
  @include fontsize(zeta);
}

// Bold.
b,
strong,
.bold {
  font-weight: $content-font-bold;
}

// Italic.
em,
i,
.italic {
  font-style: italic;
}

// Caption y texto en linea pequeño.
small,
.caption {
  @include fontsize(theta);

  font-family: $heading-font-family;
  font-style: normal;
  font-weight: $heading-font-normal;
}

small {
  line-height: 1rem;
}

.caption {
  line-height: $space;
  color: var(--color-gray3);
}

// Mejorando el espacio entre los header y los caption.
h1 + .caption,
h2 + .caption,
h3 + .caption,
.alpha + .caption,
.beta + .caption,
.gamma + .caption {
  margin-top: -$space;
}

.delta + .caption,
.epsilon + .caption,
.zeta + .caption {
  margin-top: 0;
}

// Quotes.
blockquote {
  @include fontsize(zeta);

  padding: halve($space) 1rem;
  margin-left: -1rem;
  font-style: italic;
  border-left: 0.15rem solid var(--color-brand);

  @include media(palm) {
    margin-left: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

// Code block.
code,
pre {
  @include fontsize(theta);

  font-family: $code-font-family;
  font-weight: $code-font-normal;
  line-height: 1.2rem;
  background-color: var(--color-gray7);
}

pre {
  position: relative;
  display: block;
  padding: $space;
  overflow: auto;
  hyphens: none;
  text-align: left;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  white-space: pre;
  word-spacing: normal;

  &::after {
    position: absolute;
    top: quarter($space);
    right: 0;
    display: block;
    height: $space;
    padding: 0 halve($space);
    font-size: 0.6rem;
    font-weight: $code-font-bold;
    line-height: $space;
    color: var(--color-gray4);
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    content: attr(data-lang);
  }
}

// Inline code
:not(pre) > code {
  padding: 0.1rem 0.3rem;
  line-height: $space;
  color: var(--color-brand);
  white-space: nowrap;
  border-radius: $border-radius;
}

// Horizontal rule.
hr {
  padding-top: double($space);
  padding-bottom: double($space);
  margin: 0;
  background-image: linear-gradient(to bottom, $type-transparent-color 50%, var(--color-gray3) 50%);
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 100% 0.15rem;
  border: 0;
}

// Ritmo vertical
p,
h1,
h2,
h3,
ul,
ol,
dl,
table,
blockquote,
pre {
  margin-bottom: $space;
}
