//
// Name:         Math
// Descripción:  Contiene utilidades para calculos matemáticos
//
// ========================================================================

/// Convierte un valor en pixeles en rem.
///
/// px2rem(200px)
///
/// @param {String} $value - Valor en pixeles
/// @return {String} - Valor en rem
/// ========================================================================
@function px2rem($value) {
  @return $value / 16px * 1rem;
}

/// Convierte un valor en pixeles en em.
///
/// px2em(200px)
///
/// @param {String} $value - Valor en pixeles
/// @return {String} - Valor en em
/// ========================================================================
@function px2em($value) {
  @return $value / 16px * 1em;
}

/**
 * Devuelve el valor 'x' elevado a 'y'. Ejemplo de uso.
 *
 * pow(2,2) = 2*2     // 4
 * pow(2,3) = 2*2*2   // 8
 */
/// Devuelve el valor de un número elevado a otro.
///
/// pow(2,2) = 2*2     // 4
/// pow(2,3) = 2*2*2   // 8
/// ========================================================================
@function pow($x, $y) {
  $ret: 1;

  @if $y > 0 {
    @for $i from 1 through $y {
      $ret: $ret * $x;
    }
  } @else if $y < 0 {
    @for $i from $y to 0 {
      $ret: $ret / $x;
    }
  }

  @return ceil($ret * 100) / 100;
}
