//
// Nombre:        Type
// Descripción:  Contiene utilidades para el manejo de la tipografía
//
// ========================================================================

/// Genera los tamaños de fuente por defecto en %, por cada breakpoint.
///
/// body {
///   @include rootsize;
/// }
/// ========================================================================

@mixin rootsize {
  $base-breakpoints: desk;

  // Compruebo si es mobile first
  @if ($mobile-first) {
    $base-breakpoints: palm;
  }

  // Si existe tiene el breakpoint base
  @if map-has-key($root-sizes, $base-breakpoints) {
    font-size: #{map-get($root-sizes, $base-breakpoints) / 16 * 100%};
  }

  // Recorre todos los breakpoint.
  @each $breakpoint, $size in $root-sizes {
    @if $breakpoint != $base-breakpoints {
      @include media($breakpoint) {
        font-size: #{$size / 16 * 100%};
      }
    }
  }
}

/// Devuelve el tamaño de la fuente en base al valor de la escala pasado
///
/// h1 {
///   font-size: size(6);
/// }
///
/// @param {Integer} $level - Nombre del nivel de escala
/// @return {String} - Valor en rem del nivel
/// ========================================================================

@function size($level) {
  $size: var(--modular-scale);

  @if ($level > 0) {
    @for $i from 1 to $level {
      $size: #{$size} * var(--modular-scale);
    }
  } @else {
    @for $i from $level to 0 {
      $size: #{$size} / var(--modular-scale);
    }
  }

  @return calc(1rem * #{$size});
}

/// Genera variables css con los tamaños de fuente definidos
///
/// @include rootFontSizes();
/// ========================================================================

@mixin rootFontSizes() {
  @for $i from 1 to ($heading-levels + 1) {
    $module: pow($modular-scale, $heading-levels - $i + 2);

    --font-size-h#{$i}: #{$module}rem;
  }

  @for $i from ($heading-levels + 1) to 7 {
    --font-size-h#{$i}: 1rem;
  }

  --font-size-base: 1rem;

  @for $i from 1 to ($small-levels + 1) {
    $module: pow($modular-scale, -$i - 1);

    --font-size-small#{$i}: #{$module}rem;
  }
}

/// Genera variables css con las alturas de línea correspondientes al tamaño de fuente definidos
///
/// @include rootLineHeights();
/// ========================================================================

@mixin rootLineHeights() {
  @for $i from 1 to ($heading-levels + 1) {
    $module: pow($modular-scale, $heading-levels - $i + 2);

    --line-height-h#{$i}: #{ceil($module / $line-height-base) * $line-height-base}rem;
  }

  @for $i from ($heading-levels + 1) to 7 {
    --line-height-h#{$i}: #{$line-height-base}rem;
  }

  --line-height-base: #{$line-height-base}rem;

  @for $i from 1 to ($small-levels + 1) {
    $module: pow($modular-scale, -$i - 1);

    --line-height-small#{$i}: #{ceil($module / $line-height-base) * $line-height-base}rem;
  }
}

/// Cuando un texto no cabe en una sola linea,
/// oculta la parte que no se vé y muestra tres puntos
///
/// .title {
///   @include text-ellipsis;
/// }
/// ========================================================================

@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
